*{
    margin: 0;
    padding: 0;
}

.parent{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 400px;
    border-radius: 50px;
}

.upper{
    height: 150px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.screen{
    height: 50px;
    width: 250px;
    background-color: aqua;
}

.lower{
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
   


   
}

.row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    
   
}



.button{
    height: 40px;
    width: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}


